
*
{
 font-family: 'Times New Roman', Times, serif;
}

body
{
    background-color: gray;
}

div.container
{

}

div.header
{

}
div.header img
{
    width: 100%;
    height: 600px;
}



div.inhoud
{

}

div.footer
{

}