
*
{
 font-family: 'Times New Roman', Times, serif;
}

body
{
    background-color: gray;
}

div.container
{
 box-sizing: border-box;
}

div.header
{

}
div.header ul
{
   background-color: black;
   color: white;
   padding: 5px;
   text-align: right;
}

div.header ul li
{
    display: inline-block;
    padding: 5px;
  
}
div.header ul li:hover
{
    color: lightgray;
    border-bottom:white 500px;

}

div.header img
{
    width: 100%;
    height: 800px;
    top: 0;
}



div.inhoud
{

}

div.footer
{
    clear: both;
    bottom: 0;
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}