
*
{
 font-family: 'Times New Roman', Times, serif;
 margin: 0;
 padding: 0;
}

body
{
    background-color: whitesmoke;
    background-position: hide;
}

div.container
{
 box-sizing: border-box;
 
}

/*---------- navigatie en header---------------------------------------------*/
div.header
{
  border-bottom: 5px white solid;
  position: fixed;
 width: 100%;
    
}
div.header ul
{
   background-color: black;
   padding: 8px;
   text-align: right; 
}

div.header ul li
{
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
}
/*---------- Logo---------------------------------------------*/
div.header ul li img
{
    width: 25px;
    height: 25px; 
}
div.header ul li:first-of-type
{
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 30px;
}
div.header ul li a
{
    text-decoration: none;
    color: white;
}
div.header ul li a:hover
{
    color: lightgray;
    border-bottom:white solid 2px;
    
}

/*----------index image---------------------------------------------*/
div.container img
{
    width: 100%;
    height: 500px;
}

/*---------- INDEX---------------------------------------------*/
div.inhoud
{
   display: flex;
}

div.inhoud h1
{
    width: 90%;
    color: #111010;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 62px;
    text-transform: uppercase;
    text-shadow: 5px 3px 2px rgb(51, 50, 50);
    
}
div.inhoud h2
{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
div.inhoud > div
{
    flex: 1;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
}

#rondje1,#rondje2,#rondje3 
{
    background-color: black;
    width: 100%;
    height: 80px;
    color: white;
    text-align: center;
    margin-top: 290px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 3px 10px gray;

}

#rondje1 p,#rondje2 p,#rondje3 p
{
    padding-top: 30px;
    font-size: 20px;
}

/*---------- GES---------------------------------------------*/
div.inhoud1
{
    width: 100%;
}
.inhoud1 div.links
{
    float: left;
    width: 49%;
    margin-top: 30px;
    padding-top: 30px;
}
.links
{
   padding-right: 1%;
   text-align: justify;
}
.links h2
{
    padding-top: 10px;
    margin-top: 5px;
}
.inhoud1 div.recht
{
    float: right;
    width: 49%;
    margin-top: 30px;
    padding-top: 30px;

}
.recht
{
    padding-left: 1%;
    text-align: justify;
}
.recht h2
{
    padding-top: 10px;
    margin-top: 5px;
}

.foto
{
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  height: auto;
  margin: 10px;
  margin: 10px;
 max-width: 100%;
}


/*---------- FOOTER--------------------------------------------*/

div.footer
{
    clear: both;
    bottom: 0;
    position: fixed;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 8px;
    border-top: 5px white solid;

}

@media screen and (max-width: 600px )
{

    div.container
    {
        width: 100%;
        height: auto;
    }
    div.header
    {
        float: left;
        width: 33%;
    }
    div.inhoud
    {
        float: left;
        width: 33%;

    }
    div.footer
    {
        float: left;
        width: 33%;
    }
}
    

